@charset "UTF-8";
/**
 *
 * @authors Marte (iqianduan@126.com)
 * @date    2017-05-12 09:35:49
 * @version $Id$
 */
/*common.css*/
*{
    box-sizing:border-box;
}
//清除浮动
.clearfix {
   zoom: 1;
}
.clearfix:before, .clearfix:after {
   display: table;
   content: "";
}
.clearfix:after {
   clear: both;
}

.container{
    width:750px;
    margin:0 auto;
    background:#FF2a72;
}
.block{
    color:#fff;
    font-size:30px;
    padding:20px;
}
.block1{
    width:300px;
    height:300px;
    background:teal;
    float: left;
}
.block2{
    width:400px;
    height:400px;
    background:#000;
    float: right;
}
.footer{
    background: #fa7a00;
}
.footer-section{
    float: left;
}


